:root {
  --bs-body-line-height: 1.75;
  --bs-font-sans-serif: "Inter", sans-serif;
}

.ephesis {
  font-family: "Ephesis", cursive;
}

.noto-serif {
  font-family: "Noto Serif", serif;
}

h1 {
  font-size: 3.5rem;
}

.vstack {
  > * {
    margin-block: 0;
  }
}

.hstack {
  > * {
    margin-inline: 0;
  }
}

.form-control,
.form-check,
.form-select {
  --bs-border-color: var(--bs-gray-500);

  &::placeholder {
    color: var(--bs-gray-400);
  }
}
