@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 250;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-ExtraLight.woff2') format('woff2'),
    url('NotoSerifCJKjp-ExtraLight.woff') format('woff'),
    url('NotoSerifCJKjp-ExtraLight.otf') format('opentype');
}
@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-Light.woff2') format('woff2'),
    url('NotoSerifCJKjp-Light.woff') format('woff'),
    url('NotoSerifCJKjp-Light.otf') format('opentype');
}
@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-Regular.woff2') format('woff2'),
    url('NotoSerifCJKjp-Regular.woff') format('woff'),
    url('NotoSerifCJKjp-Regular.otf') format('opentype');
}
@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-Medium.woff2') format('woff2'),
    url('NotoSerifCJKjp-Medium.woff') format('woff'),
    url('NotoSerifCJKjp-Medium.otf') format('opentype');
}
@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-SemiBold.woff2') format('woff2'),
    url('NotoSerifCJKjp-SemiBold.woff') format('woff'),
    url('NotoSerifCJKjp-SemiBold.otf') format('opentype');
}
@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-Bold.woff2') format('woff2'),
    url('NotoSerifCJKjp-Bold.woff') format('woff'),
    url('NotoSerifCJKjp-Bold.otf') format('opentype');
}
@font-face {
  font-family: "Noto Serif Japanese";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url('NotoSerifCJKjp-Black.woff2') format('woff2'),
    url('NotoSerifCJKjp-Black.woff') format('woff'),
    url('NotoSerifCJKjp-Black.otf') format('opentype');
}
